@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------- Colours To Use ------------------------------------------------------

Orange - #eb6600
Dark Blue - #28363d
Grey Blue - #3f5e60
White - #ffffff

-------------------------------------------------------------------------------------*/

/* Working from here downwards ----------------------------------------------------- */

.page {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  align-items: center;
  background-color: #ffffff;
}

/* Navbar component */

.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #28363d;
  background-color: #28363d;
}
.navbar img {
  width: 80px;
  height: 80px;
  margin: 0px 70px;
  border: 2px solid black;
}

#map {
  height: 400px;
  width: 400px;
}

/* Friends component */

.friends-bar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  top: 101px;
  position: fixed;
  right: 0;
  background-color: #3f5e60;
}



/* User profile */

.user-card {
  display: flex;
  align-items: space-between;
  gap: 40px;
  border: 1px solid black;
  padding: 15px 45px;
}
.user-profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
}
.user-card-info {
  display: flex;
  flex-direction: column;
}
.user-card-info h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.user-following {
  display: flex;
  gap: 50px;
}
.user-exp-button {
  display: flex;
  gap: 30px;
  align-items: center;
}
.user-exp-button img {
  width: 20px;
  height: 20px;
}
.user-exp-button button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 30px;
}
.follow-button{
  width: 100px;
  font-weight: bold;
}

/* Buttons for the navigation */

.buttons-bar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: calc(100vh - 100px);
  top: 100px;
  position: fixed;
  left: 0;
 justify-content: space-evenly;
  align-items: center;
background-color: #3f5e60;
}
.button-left{
  background-color: white;
  border: 2px solid #28363d;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 170px;
  height: 150px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-left img{
  width: 100px;
  height: 100px;
}